body,html
{
	height : 100%;
	text-align : center;
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Poppins', sans-serif;
}
.bg
{
	background-image : url("firstpagebackpicnew.jpeg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:100%;
}
.topnav
{
	color:blue;
	font-size : 30px;
	overflow:hidden;
}
.topnav a
{
	float:left;
	text-align:center;
	padding:14px 14px;
	background-color:#98AFC7;
}
.topnav a:hover
{
	background-color:white;
	color:pink;
	transition: all 1s ease-out;
}
.container{
    width: 500px;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.895);
    margin: 30vh auto;
    border-radius: 20px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.801);
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
}
h1
{
	/*margin-top : 240px;
	margin-left : 43%;*/
	position : relative;
	color : brown;
	font-family : Trebuchet MS;
	font-size : 80px;
	
}
h3
{
	/*margin-top : 350px;*/
	position : relative;
	/*margin-left : 30%;*/
	color : brown;
	font-family : Trebuchet MS;
	font-size : 50px;
}
